# ------------------------------------------------------------------
# MySQL Database environment settings - Example
# ------------------------------------------------------------------
# Core MYSQL settings
MYSQL_HOSTNAME=XNA
MYSQL_PORT=XNA

# MySQL root settings
MYSQL_ROOT_NAME=XNA
MYSQL_ROOT_USER=XNA
MYSQL_ROOT_PASSWORD=XNA
MYSQL_CORE_DATABASE=XNA

# MySQL user settings
MYSQL_NAME=XNA
MYSQL_USER=XNA
MYSQL_PASSWORD=XNA
MYSQL_DATA_DATABASE=XNA

# ------------------------------------------------------------------
# Backend environment settings - Example
# ------------------------------------------------------------------
# Debug mode
DEBUG=False

# Database connection URL
DATABASE_URL=XNA

# Backend allowed hosts
ALLOWED_HOSTS=XNA

# Backend secret key
DJANGO_SECRET_KEY=XNA

# Token expiration time (seconds)
# External = 5 minutes
# Internal = 3 hours
EXTERNAL_TOKEN_LIFETIME=1800
INTERNAL_TOKEN_LIFETIME=10800

# Django file cache location
DJANGO_CACHE_LOCATION=/tmp/django_cache
DJANGO_CACHE_ENTRIES=100000
DJANGO_CACHE_TIMEOUT=86400

# Pagination settings
PAGINATION_DEFAULT_PAGE_SIZE=25

# Google Analytics Parameters
GA4_PROPERTY_ID = XNA
GA4_JSON_KEY_FILE_PATH = XNA
GA4_TIMEZONE = "Europe/Prague"
GA4_CACHE_TIMEOUT = 3600

# ------------------------------------------------------------------
# Frontend environment settings - Example
# ------------------------------------------------------------------
# Enviroment variables for the frontend
VITE_API_URL=XNA

# Application version
VITE_APP_VERSION=1.3.0

# Google Analytics ID
VITE_GA_ID=XNA