asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
google-analytics-data==0.20.0
google-api-core==2.30.0
google-auth==2.48.0
googleapis-common-protos==1.72.0
gunicorn==25.1.0
mysqlclient==2.2.8
pillow==12.1.1
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2025.3