asgiref==3.11.1
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
google-analytics-data==0.23.0
google-api-core==2.31.0
google-auth==2.53.0
googleapis-common-protos==1.75.0
dotenv==0.9.9
mysqlclient==2.2.8
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.1
gunicorn==26.0.0
pillow==12.2.0