asgiref==3.11.0
Django==5.2.9
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
google-analytics-data==0.20.0
google-api-core==2.29.0
google-auth==2.47.0
googleapis-common-protos==1.72.0
dotenv==0.9.9
mysqlclient==2.2.7
python-dotenv==1.2.1
sqlparse==0.5.5
tzdata==2025.3
gunicorn==23.0.0
pillow==12.1.0